/innventa/nbproject/private/
/InnventaSystem/build/
/InnventaSystem/dist/
/InnventaSystem/nbproject/private/
/InnventaSystemMvn/target/
/InnventaSystemMvn/nbproject/
InnventaSystemMvn/config/innventadb-20160713.sql
InnventaSystemMvn/config/innventadb_bck_old.sql
InnventaSystemMvn/config/innventadb_old.sql
InnventaSystemMvn/config/innventadbbck.sql
*.sql
